/* You can add global styles to this file, and also import other style files */
/* src/styles.css or src/styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

h1{
    border: .5em red double;
    border-radius: .25em;
    padding: .25em;
    text-align: center;
    
}
p{
    border: .25em blue solid;
    border-radius: .25em;
    padding: .25em;
}