<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="media/bird.gif" height="20" width="20"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item" style="margin-top:-12px;">
              <a class="nav-link" routerLink="one">Component-1</a>
            </li>
            <li class="nav-item" style="margin-top:-12px;">
              <a class="nav-link" routerLink="two">Component-2</a>
            </li>
            <li class="nav-item" style="margin-top:-12px;">
              <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>
  
  <h1>Welcome to App</h1>
  </div>